html, body {
	padding: 0;
	margin: 0;
}
.edit {
	position: absolute;
	width: 49%;
	top: 0;
	padding-right: 4px;
}
.preview {
	position: absolute;
	top: 0;
	width: 48%;
	left: 50%;
	border-left: 2px solid #ccc;
	padding-left: 10px;
}
